# 🧠 Entornos virtuales
labenv/
venv/
env/
.venv/

# 🔐 Variables de entorno
.env

# 🗑️ Python cache/artefactos
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
.pytest_cache/
*.egg-info/
build/
dist/

# 🧪 Coverage / testing
.coverage
htmlcov/

# ⚙️ Editores/IDE
.vscode/
.idea/

# 📦 Logs y varios
*.log
.DS_Store
Thumbs.db

# 🗄️ Bases/archivos locales
*.sqlite
*.sqlite3
